/*FOOTER*/
.footerDelindex {
    padding: 67px;
    text-align: center;
    line-height: 1.7;
    letter-spacing: 12px;
    color: blueviolet;
    background-image: linear-gradient(#a796fc, #95bcf7);
}